.profile-pic {
    margin-top: 0.5rem;
    max-width: 3rem;
}


.notification {
    height: 10px;
    width: 10px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 35%;
    left: 50%;
}

.canvas-wrapper {
    display: block;
}