.footer {
    position: relative;
    height: 35rem;
    width: 100%;
    background-image: linear-gradient(to right, #16bffd, #cb3066);
}


.footer-nav {
    position: relative;
}


.footer-nav ul {
    margin-top: 10rem;
}

.footer-nav ul > li, .footer-nav a {
    text-decoration: none;
    color: white;
    display: block;
}

.footer-menu {
    margin-left: 20rem;
}

.legal-disclaimer {
    list-style: none;
}

.footer .footer-nav .legal-disclaimer ul li a:hover {
    color: black;
}

.footer-logo {
    width: 35em;
    height: auto;
    /*margin-left: 50%;
    transform: translateX(-50%);*/
}

.footer-list-element {
    font-weight: 400;
    font-size: 1.7rem;
    transition: all .1s ease-in;
    margin: 1rem 0;
}

.footer-menu .footer-list-element:hover {
    color: #cb3066;
}


.legal-disclaimer .footer-list-element:hover {
    color: #cb3066;
}

.footer span {
    position: absolute;
    font-size: 1.5rem;
    color: white;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (max-width: 875px) {
    .footer {
        position: relative;
        height: 50rem;
        width: 100%;
    }

    .footer-menu {
        margin-left: 50%;
    }

    .footer-logo {
        width: 20rem;
        height: auto;
        margin: auto;
        transform: unset;
        display: block;
    }

    .footer-nav ul > li, .footer-nav a {
        text-decoration: none;
        color: white;
        display: block;
    }

    .footer span {
        position: absolute;
        font-size: 1.5rem;
        color: white;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
    }
}
